export(logilasso,levelcv)
export(traceplot,graphmod)

S3method(plot,logilasso)
S3method(plot,predlogilasso)
S3method(plot,predlogispez)

S3method(traceplot,logilasso)

S3method(graphmod,predlogilasso)
S3method(graphmod,cvlogilasso)

S3method(predict,logilasso)
S3method(predict,cvlogilasso)
S3method(predict,levellogilasso)




